<div class="navbar container-fluid bg-black">
    <div class="p-2 p-md-0 m-0 m-md-auto w-100 container-fluid container-md justify-content-between">
        <a href="#" class="navbar-brand col-4 col-md-5 col-lg-3 pl-0">
            <img class="d-block w-100" src="../../../../assets/imagenes/Logo_Kenworth.svg" alt="">
        </a>
        <div class="col">
            <ul class="navbar-nav flex-row gap-2 justify-content-end">
                <li class="nav-item"><a class="text-light nav-link" href="#">Concesionarios</a></li>
                <li class="nav-item"><a class="text-light nav-link" href="#">Metodología 5s</a></li>
                <li class="nav-item"><a class="text-light nav-link" href="#">Repositorio TQC</a></li>
            </ul>
        </div>
    </div>
</div>