<nav class="navbar w-100 container-fluid color_navbar z-index-1 position-absolute">
    <div class="row container-fluid conteiner-md d-flex justify-content-between">
        <div class="col-4">
            <img class="d-block w-100" src="../../../../assets/imagenes/Logo_Kenworth.svg" alt="Logotipo">
        </div>
        <!-- <div class="d-none d-lg-flex w-auto">
            <ul class="d-flex list-unstyled gap-3 align-items-center m-0">
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Sucursales</a></li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Metodología 5s</a></li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Repositorio TQC</a></li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Capacitaciones</a></li>
            </ul>
        </div> -->
        <div class="col-2">
            <button class="btn btn-light">
                <i class="bi bi-list d-flex align-items-center gap-1">
                    <p class="m-0">
                        Menu
                    </p>
                </i>
            </button>
        </div>
    </div>
</nav>